@media screen and (max-width: 768px) {
    .carrusel{
        width: 100%;
        margin-top: 10px;
        margin-left: 30px;
        flex-direction: row;
    }   
    .items{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .caption{
        height: 80px;   
    }
    h3, .p{
        font-size: 15px;
    }
    .span{
        display: none;
    }
   
}
.span{
    color: orange;
}