.Container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TituloContainer{
    background-color:white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
    @media screen and (max-width: 500px) {
        margin-top: 10px;
         
    }
}

.Titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline crimson;
}

.inputs{
    width: 350px;
    margin: 5px;
    border-radius: 5px;
}

.form{
    box-shadow: 3px 3px 2px 3px gray;
    margin-top: 2%;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 30px;
    border: 2px solid black;
    height: 600px;
    width: 370px;
    background-image: url("../../public/assets/whatsfondo.png");
    background-size: contain;
}

.area{
    height: 200px;
    border: black 2px solid;
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #228363;
    border-radius: 100%;
    margin-top: 10px;
}

.img{
    margin-left: 7px;
}

@media screen and (max-width: 768px) {
    .Titulo{
        font-size: 25px;
    }  

    .formTop{
        height: 80%;
        width: 95%;
    }
    .form{
        height: 85%;
        width: 95%;
    }
    .formulario{
        height: 85%;
        width: 95%;
    }
    .inputs{
        width: 350px;
        margin: 10px;
    }
    .Container{
        height: 100%;
    }
    .area{
        height: 300px;
    }
    .img{
        height: 20px;
    }
    .a{
        width: 50px;
        background-color: #228363;
        border-radius: 100%;   
    }
   }