.Footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    background-color: #f0fbff;

    @media screen and (max-width: 770px) {
        padding: 5px;
    }

    .aText {
        text-decoration: none;
        color: black;
        font-family: monospace;

        @media screen and (max-width: 770px) {}

        @media screen and (max-width: 1440px) {}
    }

    .Contact {
        display: flex;
        margin-left: 45px;
        flex-direction: column;
        text-align: center;

        @media screen and (max-width: 770px) {
            display: flex;
            margin-left: 5px;
            flex-direction: column;
            text-align: center;
        }

        .phone {
            font-family: monospace;
            font-size: 17px;

            @media screen and (max-width: 770px) {
                font-size: 12px;
            }
        }
    }
}