.Container {
    height: calc(100% + 20vh);
    display: flex;
    padding: 20px;
    background-image: url('../../public/assets/wal_limpieza.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    .TextContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 70vw;
        
        @media screen and (max-width: 770px) {
            margin-right: 0;
        }

        .Title {
            font-size: 50px;
            width: 25vw;
            
            @media screen and (max-width: 770px) {
                font-size: 30px;
                width: 100%;
                margin-bottom: 40vh;
                text-align: center;
            }
        }
        
        .Desc {
            font-size: 20px;
            width: 25vw;
            
            @media screen and (max-width: 770px) {
                text-align: center;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.737);
                width: 100%;
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
    }
}