.navbarHeader_Container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    background-color: #f0fbff;
    box-shadow: 0 2px 4px rgb(165, 165, 165);


    .navbarHeader {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: 90%;


        .menu {
            display: flex;
            gap: 2rem;

            .menuItem,
            .menuItem_mobile {
                text-decoration: none;
                font-size: 18px;
                color: black;
                
                &:hover {
                    color: gray;
                    transform: scale(1.1);
                }
                .logo{
                    height: 30px;
                    @media screen and (max-width: 770px) {
                        height: 20px;
                    }
                }
            }
        }
        .menuItem {
            @media screen and (max-width: 770px) {
                display: none;
            }
        }
    }
}