.navbarHeader_Container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    background-color: #e5f7ff;
    box-shadow: 0 2px 4px rgb(165, 165, 165);


    .navbarHeader {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        .navbarLogo {
            .navbar_Logo_Image {
                height: 15vh;
                border-radius: 100%;
                @media screen and (max-width: 770px) {
                    height: 12vh;
                }
            }
        }

        .menu {
            display: flex;
            gap: 2rem;

            .menuItem,
            .menuItem_mobile {
                text-decoration: none;
                font-weight: 600;
                font-size: 1.2rem;
                color: #202020;
                
                &:hover {
                    color: gray;
                    transform: scale(1.1);
                }
                .logo{
                    height: 40px;
                    @media screen and (max-width: 770px) {
                        height: 25px;
                    }
                }
            }
        }
        .menuItem {
            @media screen and (max-width: 770px) {
                display: none;
            }
        }
    }
}