.NosotrosContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/assets/limpieza_uni.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .Contenedor_general {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        @media screen and (max-width: 770px)
        {
            justify-content: center;
            align-items: center;
        }
        
        .Titulo_Container {
            .titulo_style {
                text-align: center;
                background-color: white;
                @media screen and (max-width: 770px){
                    font-size: 24px;
                    margin-top: 5%;
                    padding: 5px;
                }
            }

        }

        .MainSteps {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            @media screen and (max-width: 770px) {
                height: fit-content;
                margin-top: 70%;
                align-items:end;
                flex-wrap: wrap;
                background-color: #6cbbdad7;

            }

            
            .steps:nth-child(odd) {
                margin-top: 10%;
                @media screen and (max-width: 770px) {
                    margin-top: 0;
                }
            }
            .steps {
                padding: 2%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                width: 150px;
                height: 150px;
                background-color: #6cbbdad7;
                /*
                background-image: linear-gradient(135deg,
                #7edbfff6, white, #7edaffdd, #7edbfff6,
                #7edbfff6, #7edbfff6);
                */
                color: white;
                box-shadow: 0 3px 3px #6cbada;
                @media screen and (max-width: 770px) {
                    background-color:transparent;
                    width: 80px;
                    height: 80px;
                    box-shadow: none;
                    .pMobile{
                        font-size: 12px;
                     }
                }
            }
        }
    }
}